<template>
  <div>
    <b-sidebar :visible="sidebarVisible" shadow right lazy>
      <template #header>
        <h4>Verbundene Knoten</h4>
      </template>
      <div>
        <strong style="margin-left: 1rem;">Auswahl: {{selectedNode}}</strong><br><br>
        <span style="margin-left: 1rem;">verbunden mit:</span>
        <ul>
          <li v-for="node in sortedSidebarNodeList" :key="node">{{node}}</li>
        </ul>
      </div>
    </b-sidebar>
    <b-container fluid class="content">
      <b-row ref="aboveSigma">
        <b-col v-if="LRSMode === false" cols="6">
          <b-form-group label-cols="4">
            <template v-slot:label>
              Dein/e Wissensnetz/e:
            </template>
            <b-form-file v-model="personalFiles" multiple accept=".json,.graphml" placeholder="...hier hochladen" drop-placeholder="Datei hier hin ziehen..." v-b-tooltip.hover.right title="Lade hier eine oder mehrere deiner Wissensnetz-Dateien im json-Format hoch. Du bekommst diese vom FeedBot, wenn du Schreibaufgaben einreichst."/>
          </b-form-group>
        </b-col>
        <b-col v-else cols="6">
          <b-form-group label-cols="4">
            <template v-slot:label>
              Eigene Netze:
            </template>
            <multiselect v-model="selectedStudentGraph" :options="lrsGraphOptions" :close-on-select="true" :clear-on-select="true" track-by="statementId" label="name" placeholder="...Netze auswählen" selectLabel="Enter zum auswählen" selectedLabel="Ausgewählt" deselectLabel="Enter zum entfernen" v-b-tooltip.hover.left title="Wähle hier eines deiner Wissensnetze aus, die aus deinen Schreibaufgaben erzeugt wurden.">
            </multiselect>
          </b-form-group>
        </b-col>
        <b-col v-if="localExpertGraphFileOptions" cols="6">
          <b-form-group label-cols="3">
            <template v-slot:label>
              Expertennetze:
            </template>
            <multiselect v-model="selectedExpertGraphs" :options="localExpertGraphFileOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="name" label="name" placeholder="...Netze auswählen" selectLabel="Enter zum auswählen" selectedLabel="Ausgewählt" deselectLabel="Enter zum entfernen" v-b-tooltip.hover.left>
              <template slot="selection" slot-scope="{ values, isOpen }"><span class="multiselect__single" v-if="values.length && !isOpen">{{ values.length }} Netze ausgewählt</span></template>
            </multiselect>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col :style="sigmaHeightStyle" id="sigmaParentContainer">
            <div id="sigmaGraphContainer" v-show="showSigma"/>
            <b-alert v-show="!showSigma" show variant="warning">Aktuell sind keine Daten ausgewählt, die angezeigt werden könnten</b-alert>
            <div id="zoomButtons" v-if="showSigma">
              <b-button variant="primary" @click="zoom(true)">+</b-button>
              <b-button variant="primary" @click="zoom(false)">-</b-button>
            </div>
            <div id="infoButton" v-if="showSigma">
              <span v-b-tooltip.hover.right title="Interaktive Darstellung des Wissensnetzes. Du kannst verschiedene Punkte auswählen und bewegen, um dich darin umzusehen.">
                <font-awesome-icon icon="info-circle" size="1x" transform="grow-4"/>
              </span>
            </div>
            <div v-if="showOptionButtons" >
              <b-button variant="secondary" @click="highlightIntDiff(true)" v-b-tooltip.hover title="Wenn du ein eigenes Wissensnetz ausgewählt hast, kannst du die Darstellung hier darauf begrenzen.">Nur dein Wissensnetz</b-button>
              <b-button variant="secondary" @click="highlightIntDiff()" v-b-tooltip.hover title="Schalte die Option ‚Überschneidung‘ ein, um auf einen Blick zu sehen, welche Begriffe dein Wissensnetz und das Expertennetz gemeinsam haben.">Überschneidung</b-button>
              <b-button variant="secondary" @click="highlightIntDiff(true, true)" v-b-tooltip.hover title="Wenn du eines der Expertennetze ausgewählt hast, kannst du die Darstellung hier darauf begrenzen.">Nur Expertennetz</b-button>
            </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Graph from 'graphology'
import Sigma from 'sigma'
import { animateNodes } from 'sigma/utils/animate'
import isEmpty from 'lodash/isEmpty'
import toPairs from 'lodash/toPairs'
import { isGraphMLFile, convertFile as convertGraphMLFile } from '@/nonUI/graphMLConversion'
import { isJSON, isTMitocarSchema, convertTMitocarJSON } from '@/nonUI/jsonld'
import randomLayout from 'graphology-layout/random'
import forceAtlas2 from 'graphology-layout-forceatlas2'
import chroma from 'chroma-js'
import * as broadcastChannel from '@/nonUI/broadcastChannel'
import * as localExpertGraphFilesTudBt1 from '../../graphs/TUD_BT1'
import * as localExpertGraphFilesTudBt2 from '../../graphs/TUD_BT2'
import * as localExpertGraphFilesUlBiwi5 from '../../graphs/UL_BIWI5'
import Multiselect from 'vue-multiselect'
import store from '@/store/index'

export default {
  name: 'sigmaCompare',
  components: { Multiselect },
  props: {
    LRSMode: { type: Boolean, default: false },
    debugMode: { type: Boolean, default: false },
    expertGraphPath: { type: String, default: '' },
    expertGraphsOnly: { type: Boolean, default: false }
  },
  data: () => {
    return {
      localExpertGraphFileOptionsUL: toPairs(localExpertGraphFilesUlBiwi5).map((el) => { return { data: el[1], name: el[0] } }).sort((first, sec) => first.name > sec.name ? 1 : -1),
      localExpertGraphFileOptionsTUD_BT1: toPairs(localExpertGraphFilesTudBt1).map((el) => { return { data: el[1], name: el[0] } }).sort((first, sec) => first.name > sec.name ? 1 : -1),
      localExpertGraphFileOptionsTUD_BT2: toPairs(localExpertGraphFilesTudBt2).map((el) => { return { data: el[1], name: el[0] } }).sort((first, sec) => first.name > sec.name ? 1 : -1),
      lrsGraphOptions: [],
      selectedExpertGraphs: [],
      selectedStudentGraph: {},
      studentGraphData: {},
      personalFiles: [],
      expertFiles: [],
      personalGraphs: [],
      expertGraphs: [],
      renderedGraph: undefined,
      sigma: undefined,
      highlightedNodes: new Set(),
      highlightedEdges: new Set(),
      selectedNode: undefined,
      sidebarNodeSet: new Set(),
      sigmaHeightStyle: { 'min-height': '40rem' },
      sidebarVisible: false,
      expertGraphColorScale: ['#D32F2F', '#7B1FA2', '#5C6BC0', '#0288D1', '#00796B', '#689F38', '#F57C00']
    }
  },
  created () {
    broadcastChannel.sendMessage('newSession')
    broadcastChannel.listenForMessages(this.debugMode,
      (graphList) => {
        this.lrsGraphOptions = graphList.map(el => {
          const time = new Date(el.time)
          const options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' }
          el.name = `${el.filename} (${time.toLocaleDateString('de-DE', options)})`
          return el
        })
      },
      (graphData) => {
        this.studentGraphData = graphData
      })
  },
  mounted () {
    const navbarHeight = store.state.hidePageElements ? 0 : document.querySelector('.navbar').clientHeight
    const windowHeight = window.innerHeight
    const aboveSigma = this.$refs.aboveSigma.clientHeight
    this.sigmaHeightStyle = { 'min-height': (windowHeight - navbarHeight - aboveSigma) - 60 + 'px' }
  },
  computed: {
    localExpertGraphFileOptions () {
      const selector = this.expertGraphPath
      switch (selector) {
        case 'tud-bt1':
        case 'tud-mb':
          return this.localExpertGraphFileOptionsTUD_BT1
        case 'tud-bt2':
          return this.localExpertGraphFileOptionsTUD_BT2
        case 'ul-biwi5':
          return this.localExpertGraphFileOptionsUL
      }
      return null
    },
    sortedSidebarNodeList () {
      return Array.from(this.sidebarNodeSet).sort()
    },
    showSigma () {
      return !isEmpty(this.personalFiles) || !isEmpty(this.expertFiles) || !isEmpty(this.selectedExpertGraphs) || !isEmpty(this.studentGraphData)
    },
    showOptionButtons () {
      return !isEmpty(this.personalGraphs) && !isEmpty(this.expertGraphs)
    },
    personalGraph () {
      const personalGraph = new Graph()
      this.personalGraphs.forEach((graph) => {
        if (!isEmpty(graph))
          personalGraph.import(graph.export(), true)
      })
      return personalGraph
    },
    expertGraph () {
      const expertGraph = new Graph()
      this.expertGraphs.forEach((graph) => {
        if (!isEmpty(graph))
          expertGraph.import(graph.export(), true)
      })
      return expertGraph
    }
  },
  watch: {
    selectedStudentGraph: function (newVal) {
      if (newVal)
        broadcastChannel.sendMessage('userChosePersonalGraph', newVal.statementId)
      else {
        this.studentGraphData = {}
      }
    },
    studentGraphData: async function (newVal) {
      this.killSigma()
      if (!isEmpty(newVal)) {
        const file = new File([JSON.stringify(newVal)], 'graphData.json', { type: 'application/json' })
        const personalGraphs = [this.loadFile(file, false, undefined, undefined)]
        this.personalGraphs = await Promise.all(personalGraphs)
      } else {
        this.personalGraphs = []
      }
      this.renderGraphs([...this.personalGraphs, ...this.expertGraphs])
    },
    personalFiles: async function (newVal) {
      if (!isEmpty(newVal)) {
        this.killSigma()
        const personalGraphs = newVal.map((file) => this.loadFile(file), false, undefined, 'loadedPersonalFile')
        this.personalGraphs = await Promise.all(personalGraphs)
        this.renderGraphs([...this.personalGraphs, ...this.expertGraphs])
      }
    },
    expertFiles: async function (newVal) {
      if (!isEmpty(newVal)) {
        this.killSigma()
        const expertGraphs = newVal.map((file) => this.loadFile(file, false, undefined, 'loadedExpertFile'))
        this.expertGraphs = await Promise.all(expertGraphs)
        this.renderGraphs([...this.personalGraphs, ...this.expertGraphs])
      }
    },
    selectedExpertGraphs: async function (newVal) {
      this.killSigma()
      if (!isEmpty(newVal)) {
        const expertGraphs = newVal.map((file, i) => this.loadFile(file, true, this.expertGraphColorScale[i % this.expertGraphColorScale.length], 'selectedExpertGraph'))
        this.expertGraphs = await Promise.all(expertGraphs)
      } else {
        this.expertGraphs = []
      }
      this.renderGraphs([...this.personalGraphs, ...this.expertGraphs])
    }
  },
  methods: {
    isEmpty,
    zoom (out = true) {
      const camera = this.sigma.getCamera()
      if (!out)
        camera.animatedZoom(0.5)
      else
        camera.animatedUnzoom(0.5)
    },
    killSigma () {
      if (this.sigma !== undefined) {
        this.clearHighlighting()
        this.sigma.kill()
      }
    },
    async loadFile (file, textAvailable = false, nodeColor = undefined, eventType = 'loadedFile') {
      if (file !== null) {
        let fileContent = null
        let fileType = null
        if (!textAvailable && await isJSON(file)) {
          fileType = 'json'
          fileContent = JSON.parse(await file.text())
          if (isTMitocarSchema(fileContent))
            fileContent = convertTMitocarJSON(fileContent)
        } else if (!textAvailable && isGraphMLFile(file)) {
          fileType = 'graphml'
          fileContent = convertGraphMLFile(await file.text(), false, nodeColor)
        } else if (textAvailable) {
          fileType = 'graphml'
          fileContent = convertGraphMLFile(file.data, false, nodeColor)
        } else {
          this.$swal.fire({ icon: 'error', titleText: 'Eingabeformat nicht unterstützt', text: 'Der ausgewählte Datensatz kann nicht geladen werden da das Eingabeformat nicht unterstützt wird. Bitte nutzen sie .json oder .graphml Dateien.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        }
        if (fileType !== null && fileContent !== null) {
          if (this.checkDataValidity(fileContent)) {
            if (fileType === 'json')
              this.fixJsonData(fileContent)
            const graph = this.createGraph(fileContent)
            if (eventType !== undefined)
              broadcastChannel.sendMessage(eventType, file.name)
            return graph
          } else {
            this.$swal.fire({ icon: 'error', titleText: 'Dateiinhalt nicht unterstützt', text: 'Der Inhalt der Datei entspricht nicht dem erwartetem Inhalt und kann deshalb nicht geladen werden. Bitte überprüfen Sie die Datei.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
          }
        }
        return null
      }
      return null
    },
    checkDataValidity (data) {
      return !isEmpty(data.nodes) && !isEmpty(data.edges)
    },
    fixJsonData (data) {
      data.nodes.forEach((node) => {
        if (node.attributes && node.attributes.area !== undefined) {
          node.group = node.attributes.area
          delete node.attributes.area
        }
      })
      data.edges.forEach((edge) => {
        if (edge.attributes && edge.attributes.area !== undefined) {
          edge.group = edge.attributes.area
          delete edge.attributes.area
        }
      })
    },
    createGraph (data) {
      data.nodes.forEach((node) => {
        if (node.size)
          node.size = node.size * 0.4
        else
          node.size = 5
      })
      const graph = new Graph()
      data.nodes.forEach((node) => {
        graph.mergeNode(node.id, node)
      })
      data.edges.forEach((edge) => {
        if (!isEmpty(edge.id))
          graph.addEdgeWithKey(edge.id, edge.source, edge.target, { color: edge.color, ...edge })
        else
          graph.mergeEdgeWithKey(edge.source + edge.target, edge.source, edge.target, { color: edge.color, ...edge })
      })
      return graph
    },
    applyCoordinates (graph) {
      randomLayout.assign(graph, { scale: 400, center: 0 })
    },
    applyLayout (graph) {
      const sensibleSettings = forceAtlas2.inferSettings(this.renderedGraph)
      const newLayout = forceAtlas2(this.renderedGraph, { iterations: 300, settings: sensibleSettings })
      animateNodes(this.renderedGraph, newLayout, { duration: 2000 })
    },
    renderGraphs (graphs) {
      const nodeReducer = (key, data) => {
        if (this.highlightedNodes.size === 0 && this.highlightedEdges.size === 0)
          return data
        else if (this.highlightedNodes.has(key)) {
          this.sidebarNodeSet.add(data.label)
          return data
        } else
          return { ...data, label: '', color: chroma(data.color).alpha(0.6).css() }
      }

      const edgeReducer = (key, data) => {
        if (this.highlightedNodes.size === 0 && this.highlightedEdges.size === 0)
          return data
        else if (this.highlightedEdges.has(key)) {
          return data
        } else
          return { ...data, label: '', color: chroma(data.color).alpha(0.5).css() }
      }

      this.renderedGraph = new Graph()
      graphs.forEach((graph) => {
        if (!isEmpty(graph))
          this.renderedGraph.import(graph.export(), true)
      })
      this.applyCoordinates(this.renderedGraph)

      const container = document.getElementById('sigmaGraphContainer')
      this.sigma = new Sigma(this.renderedGraph, container, {
        nodeReducer,
        edgeReducer,
        zIndex: true
      })
      this.sigma.setSetting('allowInvalidContainer', true)

      this.applyLayout(this.renderedGraph)

      let draggedNode = null
      let dragging = false
      let nodeMoved = false
      const camera = this.sigma.getCamera()
      const captor = this.sigma.getMouseCaptor()

      this.sigma.on('downNode', (e) => {
        if (!this.sigma.getCustomBBox()) this.sigma.setCustomBBox(this.sigma.getBBox())
        dragging = true
        draggedNode = e.node
        camera.disable()
      })

      captor.on('mouseup', () => {
        if (nodeMoved)
          broadcastChannel.sendMessage('movedNode', draggedNode)
        nodeMoved = false
        draggedNode = null
        dragging = false
        camera.enable()
      })

      captor.on('mousemove', (e) => {
        if (!dragging || !draggedNode) return

        // Get new position of node
        const pos = this.sigma.viewportToGraph(e)

        this.renderedGraph.setNodeAttribute(draggedNode, 'x', pos.x)
        this.renderedGraph.setNodeAttribute(draggedNode, 'y', pos.y)
        nodeMoved = true
      })
      this.sigma.on('clickNode', this.clickNodeFunction)
      this.sigma.on('clickStage', () => {
        broadcastChannel.sendMessage('clearedSelection')
        this.clearHighlighting()
      })
    },
    clickNodeFunction (el) {
      el.event.preventSigmaDefault()
      this.highlightConnectedNodes(el.node)

      if (this.highlightedNodes.size !== 0)
        this.sidebarVisible = true

      broadcastChannel.sendMessage('selectedNode', el.node)

      this.sigma.refresh()
    },
    highlightConnectedNodes (node) {
      this.clearHighlighting()
      this.selectedNode = node

      this.renderedGraph.forEachEdge((key, _, source, target) => {
        if (source === node || target === node) {
          this.highlightedNodes.add(source)
          this.highlightedNodes.add(target)
          this.highlightedEdges.add(key)
        }
      })
      this.highlightedNodes.delete(this.selectedNode)
    },
    highlightIntDiff (difference = false, reverse = false, clear = true) {
      const text = (difference === false) ? 'intersection' : ((reverse === false) ? 'onlyPersonalGraph' : 'onlyExpertGraph')
      broadcastChannel.sendMessage('graphComparison', text)

      if (clear)
        this.clearHighlighting()

      let graph1 = this.personalGraph
      let graph2 = this.expertGraph
      if (reverse) {
        graph1 = this.expertGraph
        graph2 = this.personalGraph
      }

      graph1.forEachNode((key) => {
        if ((difference) ? !graph2.hasNode(key) : graph2.hasNode(key)) {
          this.highlightedNodes.add(key)
        }
      })

      if (this.highlightedNodes.size === 0)
        this.highlightedNodes.add('dummy')

      graph1.forEachEdge((key) => {
        if ((difference) ? !graph2.hasEdge(key) : graph2.hasEdge(key))
          this.highlightedEdges.add(key)
      })

      this.sigma.refresh()
    },
    clearHighlighting () {
      this.highlightedNodes.clear()
      this.highlightedEdges.clear()
      this.selectedNode = undefined
      this.sidebarVisible = false
      this.sidebarNodeSet = new Set()
      this.sigma.refresh()
    }
  }
}
</script>

<style scoped>
  .container-fluid.content {
    padding: 0;
  }
  #sigmaGraphContainer  {
    width:100%;
    height:100%;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
  }
  #sigmaParentContainer button {
    margin-top: .5rem;
    margin-right: 0.5rem;
  }
  #verticalLine {
    max-height: 2.5rem;
  }
  hr {
    margin-top: 0;
  }
  #zoomButtons {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
  }
  #infoButton {
    position: absolute;
    top: 0.5rem;
    left: 1.5rem;
  }
  div.multiselect {
    position: absolute;
  }
</style>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
  .b-sidebar-body h5 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
</style>
