<template>
  <div class="d-block">
    <div v-if="$route.name === 'home'">
      <p>Kein Inhalt</p>
    </div>
    <div v-if="$route.name === 'sigma'">
      <p>Interaktive Wissensnetze sind ein Angebot, um dich mit den Inhalten der Schreibaufgaben auseinanderzusetzen. Du kannst entweder (A) eine oder mehrere deiner eigenen Schreibaufgaben als Begriffsnetz darstellen lassen; (B) dir das Expertennetz zu einem der Themenblöcke ansehen, das auf Grundlage der Seminarlektüre erstellt wurde; oder (C) beide Netze gleichzeitig betrachten und dabei die Funktion ‚Vergleich‘ nutzen. – Welche Begriffe sind häufig verknüpft und von besonderer Bedeutung für ein Thema? An welcher Stelle scheinen dir Begriffsverbindungen nicht ganz klar zu sein und müssten vielleicht durch weitere Begriffe ergänzt werden? Welche Begriffe des Expertennetzes könntest du nutzen, um deine Schreibaufgabe zu überarbeiten?</p>
    </div>
  </div>
</template>
